@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  background: repeating-linear-gradient(#000000, #382e2e 2px);
  height: 100vh;
  width: 100vh;
  padding: 0px;
  margin: 0px auto;
}

h1 {
  padding-top: 50px;
  margin-bottom: 30px;
  color: #e6e309;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 4px 2px 0px rgb(247, 50, 3), -1px 3px 0px rgb(20, 58, 236);
  animation: blinking 1.5s cubic-bezier(0.12, 0.72, 0.12, 0.9) infinite;
}

@keyframes blinking {
  0% {
    color: #e6e309;
  }
  30% {
    color: transparent;
    text-shadow: none;
  }

  60% {
    color: #e6e309;
  }
}

.container-main {
  display: flex;
  flex-direction: column;
}

.input-title {
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 20px;
  max-width: 300px;
  background: repeating-linear-gradient(#dcd1d1, #f9f9f9 2px);
  border: double blue;
  border-width: 15px;
  border-radius: 10px;
  padding: 10px;
}

.btn-container {
  margin-bottom: 20px;
}

.input-code {
	height: 200px;
	width: 600px;
  font-family: 'Press Start 2P', cursive;
  resize: none;
  background: repeating-linear-gradient(#dcd1d1, #f9f9f9 2px);
  border: double blue;
  border-width: 15px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15PX;
}

::placeholder {
  color: rgb(247, 50, 3);
  opacity: 0.7;
}

button, a {
  font-family: 'Press Start 2P', cursive;
}

button:focus {
  outline: none;
}

button {
  background: transparent;
  color: yellow;
  padding: 10px;
  margin-right: 15px;
  border: 3px dashed red;
}

a {
  color: red;
  text-decoration: none;
}

input:focus, textarea {
  outline: none;
  caret-color: rgb(247, 50, 3);
}

li {
  list-style-type: none;
}

.delete {
  margin-left: 5px;
  font-size: 12px;
  display: none;
  border: 0;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

.code-link:hover .delete {
  display: inline-block;
}

